body {
    /* background-color: #3e3e40; */
    background: linear-gradient(135deg, #2a2a2b 0%, #3e3e40 100%);
    /* background-color: {
        linearGradient: { x1: 0, y1: 0, x2: 1, y2: 1 },
        stops: [
            [0, '#2a2a2b'],
            [1, '#3e3e40']
        ]
    } */
}